* { box-sizing: border-box; }
html, body { height: 100%; }

.startquiz {

  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  height: 20rem;
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center
  
} 

.btn-group button {
  background-color: #ffa500;   opacity: .9;/* Green background */
  border-radius: 30px;
  border: 1px solid white;  /*Green border */
  color: black;  /* White text */
  padding: 5px 25px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  margin: auto;
  text-align: center;
  outline:none;

   
} 

.btn-group button:not(:last-child) {
 border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color:yellow;
}

.center { text-align: center }

body {
  font-family: sans-serif;
  display: grid;
  height: 50vh;
    place-items: center;
}

ol
{
  width: 30em;  
}
ol li
{
  float: left;
  width: 10em;  
  font-size:xx-small;
}

br
{
  clear: left;
}
/* separate the list from what follows it */
div.wrapper
{
  margin-bottom: 1em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* timer stuffs */

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}
ol li a
{
  display: block;
  width: 7em;
  text-decoration: none;
}
ol li a:hover
{
  color: #FFF; /* white */
  background-color: #A52A2A; /* brown */
}

/*  */
.base-timer2 {
  height: 50px;
  width: 70px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

/*  */
.base-timer__square {
  fill: none;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

/*  */
.base-timer__path-remaining2 {
  stroke-width: 7px;
  stroke-linecap: square;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

